<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>UserAddServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.user.UserAddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserDeleteServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.user.UserDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserQueryServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.user.UserQueryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserUpdateServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.user.UserUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginCheckServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.login.LoginCheckServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EmailAddServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.email.EmailAddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EmailDeleteServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.email.EmailDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EmailQueryServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.email.EmailQueryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HouseAddServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.house.HouseAddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HouseDeleteServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.house.HouseDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HouseUpdateServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.house.HouseUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HouseQueryServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.house.HouseQueryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LinkManAddServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.linkman.LinkManAddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LInkManUpdateServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.linkman.LInkManUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LinkManDeleteServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.linkman.LinkManDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LinkManQueryServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.linkman.LinkManQueryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LinkRecordAddServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.linkrecord.LinkRecordAddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LinkRecordDeleteServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.linkrecord.LinkRecordDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LinkRecordQueryServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.linkrecord.LinkRecordQueryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustomerConditionAddServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.customerCondition.CustomerConditionAddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustomerConditionQueryServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.customerCondition.CustomerConditionQueryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustomerConditionDeleteServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.customerCondition.CustomerConditionDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustomerSourceQueryServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.customerSource.CustomerSourceQueryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustomerSourceDeleteServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.customerSource.CustomerSourceDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustomerSourceAddServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.customerSource.CustomerSourceAddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustomerTypeQueryServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.customerType.CustomerTypeQueryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustomerTypeAddServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.customerType.CustomerTypeAddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustomerTypeDeleteServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.customerType.CustomerTypeDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustomerQueryServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.customer.CustomerQueryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustomerAddServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.customer.CustomerAddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustomerDeleteServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.customer.CustomerDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustomerUpdateServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.customer.CustomerUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HouseTypeAddServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.houseType.HouseTypeAddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HouseTypeDeleteServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.houseType.HouseTypeDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HouseTypeQueryServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.houseType.HouseTypeQueryServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NoitceAddServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.notice.NoticeAddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NoticeDeleteServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.notice.NoticeDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NoticeQueryServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.notice.NoticeQueryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RoleAddServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.role.RoleAddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RoleQueryServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.role.RoleQueryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RoleUpdateServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.role.RoleUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RoleDeleteServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.role.RoleDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DepartmentQueryServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.department.DepartmentQueryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DepartmentAddServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.department.DepartmentAddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DepartmentDeleteServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.department.DepartmentDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustomerCareAddServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.customerCare.CustomerCareAddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustomerCareDeletServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.customerCare.CustomerCareDeletServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustomerCareUpdateServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.customerCare.CustomerCareUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustomerCareQueryServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.customerCare.CustomerCareQueryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustomerCareDeleteServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.customerCare.CustomerCareDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EmailQueryManServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.email.EmailQueryManServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EmailQueryNoSendServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.email.EmailQueryNoSendServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EmailDeleteNoSendServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.email.EmailDeleteNoSendServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EmailAddNoSendServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.email.EmailAddNoSendServlet</servlet-class>
  </servlet>
<servlet>
    <servlet-name>CustomerQueryNoAdmeasureServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.customer.CustomerQueryNoAdmeasureServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustomerUpdateNoAdmeasureServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.customer.CustomerUpdateNoAdmeasureServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustomerUpdateAllNoAdmeasureServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.customer.CustomerUpdateAllNoAdmeasureServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustomerUpdateAllNoAdmeasureServlet1</servlet-name>
    <servlet-class>com.sxxy.servlet.customer.CustomerUpdateAllNoAdmeasureServlet1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WorkQueryServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.work.WorkQueryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReportFormsQueryServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.reportForms.ReportFormsQueryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReportFormsTypeQueryServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.reportForms.ReportFormsTypeQueryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReportFormsSourceQueryServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.reportForms.ReportFormsSourceQueryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReportFormsConditionQueryServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.reportForms.ReportFormsConditionQueryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReportFormsUpdateServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.reportForms.ReportFormsUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustomerQueryMoreServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.customer.CustomerQueryMoreServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserQueryMoreServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.user.UserQueryMoreServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EmailUpdateSevlet</servlet-name>
    <servlet-class>com.sxxy.servlet.email.EmailUpdateSevlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FetionSendServlet</servlet-name>
    <servlet-class>com.sxxy.servlet.fetion.FetionSendServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FetionSendServlet1</servlet-name>
    <servlet-class>com.sxxy.servlet.fetion.FetionSendServlet1</servlet-class>
  </servlet>


















  <servlet-mapping>
    <servlet-name>UserAddServlet</servlet-name>
    <url-pattern>/servlet/UserAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserDeleteServlet</servlet-name>
    <url-pattern>/servlet/UserDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserQueryServlet</servlet-name>
    <url-pattern>/servlet/UserQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserUpdateServlet</servlet-name>
    <url-pattern>/servlet/UserUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginCheckServlet</servlet-name>
    <url-pattern>/servlet/LoginCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmailAddServlet</servlet-name>
    <url-pattern>/servlet/EmailAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmailDeleteServlet</servlet-name>
    <url-pattern>/servlet/EmailDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmailQueryServlet</servlet-name>
    <url-pattern>/servlet/EmailQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HouseAddServlet</servlet-name>
    <url-pattern>/servlet/HouseAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HouseDeleteServlet</servlet-name>
    <url-pattern>/servlet/HouseDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HouseUpdateServlet</servlet-name>
    <url-pattern>/servlet/HouseUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HouseQueryServlet</servlet-name>
    <url-pattern>/servlet/HouseQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LinkManAddServlet</servlet-name>
    <url-pattern>/servlet/LinkManAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LInkManUpdateServlet</servlet-name>
    <url-pattern>/servlet/LInkManUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LinkManDeleteServlet</servlet-name>
    <url-pattern>/servlet/LinkManDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LinkManQueryServlet</servlet-name>
    <url-pattern>/servlet/LinkManQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LinkRecordAddServlet</servlet-name>
    <url-pattern>/servlet/LinkRecordAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LinkRecordDeleteServlet</servlet-name>
    <url-pattern>/servlet/LinkRecordDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LinkRecordQueryServlet</servlet-name>
    <url-pattern>/servlet/LinkRecordQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerConditionAddServlet</servlet-name>
    <url-pattern>/servlet/CustomerConditionAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerConditionQueryServlet</servlet-name>
    <url-pattern>/servlet/CustomerConditionQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerConditionDeleteServlet</servlet-name>
    <url-pattern>/servlet/CustomerConditionDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerSourceQueryServlet</servlet-name>
    <url-pattern>/servlet/CustomerSourceQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerSourceDeleteServlet</servlet-name>
    <url-pattern>/servlet/CustomerSourceDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerSourceAddServlet</servlet-name>
    <url-pattern>/servlet/CustomerSourceAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerTypeQueryServlet</servlet-name>
    <url-pattern>/servlet/CustomerTypeQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerTypeAddServlet</servlet-name>
    <url-pattern>/servlet/CustomerTypeAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerTypeDeleteServlet</servlet-name>
    <url-pattern>/servlet/CustomerTypeDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerQueryServlet</servlet-name>
    <url-pattern>/servlet/CustomerQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerAddServlet</servlet-name>
    <url-pattern>/servlet/CustomerAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerDeleteServlet</servlet-name>
    <url-pattern>/servlet/CustomerDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerUpdateServlet</servlet-name>
    <url-pattern>/servlet/CustomerUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HouseTypeAddServlet</servlet-name>
    <url-pattern>/servlet/HouseTypeAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HouseTypeDeleteServlet</servlet-name>
    <url-pattern>/servlet/HouseTypeDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HouseTypeQueryServlet</servlet-name>
    <url-pattern>/servlet/HouseTypeQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NoitceAddServlet</servlet-name>
    <url-pattern>/servlet/NoticeAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NoticeDeleteServlet</servlet-name>
    <url-pattern>/servlet/NoticeDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NoticeQueryServlet</servlet-name>
    <url-pattern>/servlet/NoticeQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginCheckServlet</servlet-name>
    <url-pattern>/servlet/LoginCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RoleAddServlet</servlet-name>
    <url-pattern>/servlet/RoleAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RoleQueryServlet</servlet-name>
    <url-pattern>/servlet/RoleQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RoleUpdateServlet</servlet-name>
    <url-pattern>/servlet/RoleUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RoleDeleteServlet</servlet-name>
    <url-pattern>/servlet/RoleDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DepartmentQueryServlet</servlet-name>
    <url-pattern>/servlet/DepartmentQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DepartmentAddServlet</servlet-name>
    <url-pattern>/servlet/DepartmentAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DepartmentDeleteServlet</servlet-name>
    <url-pattern>/servlet/DepartmentDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerCareAddServlet</servlet-name>
    <url-pattern>/servlet/CustomerCareAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerCareDeletServlet</servlet-name>
    <url-pattern>/servlet/CustomerCareDeletServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerCareUpdateServlet</servlet-name>
    <url-pattern>/servlet/CustomerCareUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerCareQueryServlet</servlet-name>
    <url-pattern>/servlet/CustomerCareQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>CustomerCareDeleteServlet</servlet-name>
 <url-pattern>/servlet/CustomerCareDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmailQueryManServlet</servlet-name>
    <url-pattern>/servlet/EmailQueryManServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmailQueryNoSendServlet</servlet-name>
    <url-pattern>/servlet/EmailQueryNoSendServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmailDeleteNoSendServlet</servlet-name>
    <url-pattern>/servlet/EmailDeleteNoSendServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmailAddNoSendServlet</servlet-name>
    <url-pattern>/servlet/EmailAddNoSendServlet</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>CustomerQueryNoAdmeasureServlet</servlet-name>
    <url-pattern>/servlet/CustomerQueryNoAdmeasureServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerUpdateNoAdmeasureServlet</servlet-name>
    <url-pattern>/servlet/CustomerUpdateNoAdmeasureServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerUpdateAllNoAdmeasureServlet</servlet-name>
    <url-pattern>/servlet/CustomerUpdateAllNoAdmeasureServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerUpdateAllNoAdmeasureServlet1</servlet-name>
    <url-pattern>/servlet/CustomerUpdateAllNoAdmeasureServlet1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WorkQueryServlet</servlet-name>
    <url-pattern>/servlet/WorkQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportFormsQueryServlet</servlet-name>
    <url-pattern>/servlet/ReportFormsQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportFormsTypeQueryServlet</servlet-name>
    <url-pattern>/servlet/ReportFormsTypeQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportFormsSourceQueryServlet</servlet-name>
    <url-pattern>/servlet/ReportFormsSourceQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportFormsConditionQueryServlet</servlet-name>
    <url-pattern>/servlet/ReportFormsConditionQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportFormsUpdateServlet</servlet-name>
    <url-pattern>/servlet/ReportFormsUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerQueryMoreServlet</servlet-name>
    <url-pattern>/servlet/CustomerQueryMoreServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserQueryMoreServlet</servlet-name>
    <url-pattern>/servlet/UserQueryMoreServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmailUpdateSevlet</servlet-name>
    <url-pattern>/servlet/EmailUpdateSevlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FetionSendServlet</servlet-name>
    <url-pattern>/servlet/FetionSendServlet</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>FetionSendServlet1</servlet-name>
    <url-pattern>/servlet/FetionSendServlet1</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
</web-app>
